**/*.aux
**/*.DS_Store
**/*.out
**/*.log
**/*.synctex.gz
**/*.blg
**/*.bbl
**/*.toc
**/*.fdb_latexmk
**/*.fls
**/*.toc
**/*.dvi
**/*.lof
**/*.lot
**/*.maf
**/*.brf
**/*.mtc
**/*.mtc[0-9]*
*.synctex(busy)